<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.spotibae">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Spotibae"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activities.Messaging.MessagingScreen"
            android:exported="true"
            android:theme="@style/Theme.Login" />
        <activity
            android:name=".Activities.User.Settings.ChangeLocation"
            android:exported="true" />
        <activity
            android:name=".Activities.User.Settings.ChangeName"
            android:exported="true" />
        <activity
            android:name=".Activities.User.Settings.ChangeGender"
            android:exported="true" />
        <activity
            android:name=".Activities.User.Settings.ChangeBio"
            android:exported="true" />
        <activity
            android:name=".Activities.User.Settings.ChangeGenderMatchPreference"
            android:exported="true" />
        <activity
            android:name=".Activities.User.Settings.ChangeAgePreference"
            android:exported="true" />
        <activity
            android:name=".Activities.User.Settings.ChangeDistance"
            android:exported="true" />
        <activity
            android:name=".Activities.User.Settings.ChangePhoneNumber"
            android:exported="true" />
        <activity
            android:name=".Activities.User.UserProfile"
            android:exported="true"
            android:theme="@style/Theme.Settings" />
        <activity
            android:name=".Activities.Welcome.BaseActivity"
            android:exported="true"
            android:theme="@style/Theme.Matching" />
        <activity
            android:name=".Activities.Messaging.MusicPlayer"
            android:exported="true"
            android:theme="@style/Theme.Login" />
        <activity
            android:name=".Activities.Welcome.Signup"
            android:exported="true"
            android:parentActivityName=".Activities.Welcome.WelcomeScreen"
            android:theme="@style/Theme.Login" />
        <activity
            android:name=".Activities.Welcome.Login"
            android:exported="true"
            android:parentActivityName=".Activities.Welcome.WelcomeScreen"
            android:theme="@style/Theme.Login" />
        <activity
            android:name=".Activities.Welcome.WelcomeScreen"
            android:exported="true"
            android:theme="@style/Theme.Spotibae">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>