<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spotibae">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Spotibae">
        <activity
            android:name=".Activities.Settings.Settings"
            android:exported="true" />
        <activity
            android:name=".Activities.Messaging.MusicPlayer"
            android:exported="true" />
        <activity
            android:name=".Activities.Messaging.Messages"
            android:exported="true" />
        <activity
            android:name=".Activities.Messaging.MessagesList"
            android:exported="true" />
        <activity
            android:name=".Activities.Matching.Matching"
            android:exported="true" />
        <activity
            android:name=".Activities.Welcome.Signup"
            android:exported="true" />
        <activity
            android:name=".Activities.Welcome.Login"
            android:exported="true" />
        <activity
            android:name=".Activities.Welcome.WelcomeScreen"
            android:exported="true"
            android:theme="@style/Theme.Spotibae">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>